/* General */

.nav {
    display: flex;
    justify-content: center;
}

div.nav > * {
    margin: 0 20px;
}

h1 {
    display: flex;
    font-family: Serif;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
}

body {
    font-family: Helvetica;
    color: #F7DD72;
    background-color: #0D1321;
}

a {
    color: #A2E8DD;
}

a:visited {
    color: #9BA2ff;
}

/* Page 1 */

.mainText {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 18pt;
}

.topRopeTitle, .boulderTitle, .joinTitle, .me, .brother {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
}

.topRope, .boulder, .join {
    display: flex;
    justify-content: flex-start;
    width: 600px;
}


#me {
    width: 600px;
    height: 700px;
    align-items: center;

}

#brother {
    width: 600px;
    height: 500px;
}

/* Page 2 */

form {
    display: grid;
    grid-template: 1fr / 1fr 600px 1fr;
    margin-top: 100px;
}

fieldset {
    grid-column: 2;
}

legend {
    padding: 5px 10px;
    margin-left: 40px;
    border: 1px solid #F7DD72;
}

fieldset > div {
    margin: 20px 0 20px 40px;

}

label[for=beginner] {
    margin: 0 5px 0 40px;
}

input[type=checkbox] {
    margin-left: 5px;
}

.climbType {
    display: flex;
    flex-direction: column;
}

#climbType {
    width: 150px;
}

.partnerReason {
    display: flex;
    flex-direction: column;
}

textarea {
    height: 5em;
    width: 300px;
}

/* Page 3 */

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}

li {
    margin: 10px 0;
    font-size: x-large;
}

#last {
    order: 2;
}


/* Page 4 */

.imageGrid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    justify-content: center;
}

#rcimage {
    width: 99%;
    height: 440px;
}
